.txtbx {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #DDDDDD;
	line-height: normal;
	font-size: 17px;
}

body,td,th {
	color: #000099;
//	font-weight:bold;
	margin: 0px;
}

body {
	background-color:#DBE7F6;
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
	margin:auto;
	text-align: left;
}

.title h2 {

}

.title h1 {
	font-size: 28pt;
//	height: 40px;
    

}

.welcome {

	font-family: Calibri, sans-serif;
        color: #B9DFFF;
       	text-align: right;
	font-size: 15pt;
	font-weight:bold;
	margin-right:4%;
}

.header_div {

//	position: fixed;
	font-family: Calibri, sans-serif;
    	background-color:#0099cc;
	display: block;
	overflow: auto;
//	border-radius: 40px;
	box-shadow:2px 2px 5px 6px #ccc;

}

.title_div {
	margin-left: 36%;
	float:left;
	display: inline;
	color: #005588;
	//text-shadow: 5px 5px #00ccff;
}

.nav_menu {
	margin-top: 20px;
	float: right;
}

.main_div {
	margin-top: 3%;
}

.footer_div {
	font-family: Calibri, sans-serif;
	position: fixed;
	bottom: 0;
	height:4%;
        width: 100%;
	color: #000099;
	font-weight:bold;
	padding-top:1%;
//	border-radius: 40px;
	background-color:#0099cc;
        margin-bottom: 0px;
}

/*

.submit {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18pt;
	font-style: normal;
	font-weight: bold;
	background-color: #007;
	color: #FFF;
}

*/
.submit{

    font-family: Calibri, sans-serif;
	width:170px;
	height:40px;
	background:#B9DFFF;
	color:#0099aa;
	font-weight:bold;
	font-size:15pt;
	border: 1px solid #eee;
//	border-radius: 20px;
//	box-shadow: 5px 5px 5px #eee;

}

.submit:hover{
    
	font-family: Calibri, sans-serif;
	width:170px;
	height:40px;
	background:#0099aa;
	color: #fff;
	font-weight:bold;
	border: 1px solid #eee;
//	border-radius: 20px;
//	box-shadow: 5px 5px 5px #eee;

}
.home_button{

   	font-family: Calibri, sans-serif;
	font-size:20pt;
	width:400px;
	height:100px;
	background:#B9DFFF;
	color:#0099aa;
	font-weight:bold;
	border: 1px solid #eee;
	border-radius: 6px;
//	box-shadow: 5px 5px 5px #eee;

}

.change {

}

.home_button:hover{
    
	font-family: Calibri, sans-serif;
	font-size:20pt;
	width:400px;
	height:100px;
	background:#0099aa;
	color: #fff;
	font-weight:bold;
	border: 1px solid #eee;
	border-radius: 6px;
//	box-shadow: 5px 5px 5px #eee;

}

/*
.form_button {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	background-color: #DCB;
	color: #FFF;
}
*/

.form_button {
//	font-family: Calibri, sans-serif;
	height:30px;
	width:100px;
	font-weight:bold;
    position: relative;
    overflow: visible;
    display: inline-block;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.form_button:hover{
	height:30px;
	width:100px;
//	font-family: Calibri, sans-serif;
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}


.menu_button {

	font-family: Calibri, sans-serif;
	background-color:#000099;
	border-radius:10px;
	border:1px solid #0066CC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:7px 12px;
	font-weight:bold;
//	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width:100px;
	height:30px;
}
.menu_button:hover {
	font-family: Calibri, sans-serif;
	background-color:#000066;
	border-radius:10px;
	border:1px solid #0066CC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:7px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.bigdiv {
	position: relative;
	overflow-x: hidden;
	width: 95%;
	height: 95%;
}

.imgdiv {
//	background: #c35862;
	position: relative;
	float: left;
	margin-left: 10px;
	width: 40%;
	height: 47%;
	style.display:inline;
}

.detaildiv {
//	background: #837174;
	style.display:inline;
	width: 57%;
	height: 47%;
	float: right;
	margin-right: 10px;
}

.form_div {
	padding-top:20px;
	margin-bottom:75px;
	border-radius: 50px;
	background-color:#ffffff;
	margin-left :15%;
	margin-right:15%;
	box-shadow:5px 5px 10px 12px #ccc;
}

.form_div table td {
	font-size:15pt;
}

.detaildiv table {
	font-size: 18pt;
}
.detaildiv tr {
	height: 35px;
}

.tableicon {
	height: 130px;
}

.item_table table {

	
    border-collapse:collapse;
	border:1px solid #000066;
	border-radius:50px;
	color:#000099;
	border: 1;
}

.item_table th {
	text-align:left;
	margin-left:15px;
	background: #0099aa;
	color:#fff;
	border:1px solid #000066;
	font-size: 18pt;
}

.item_table td {
	margin-left:15px;
	text-align:left;
	background:#B9DFFF;
	font-size: 16pt;
	border:1px solid #000066;
	font-weight:normal;
	color:#000099;
}
.box {
	padding: 5px;
	width:40%;
	box-shadow:0px 0px 20px 1px Black;
	border-radius: 7px;
	float:left;
	margin:auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #935F52;
}


#field { margin-left: .5em; float: left; }
#field, label { float: none; font-family: Arial, Helvetica, sans-serif; font-size: small; }
br { clear: both; }
input.error { border: 1px solid red; }
label.error {
	background: url('../images/unchecked.gif') no-repeat;
	padding-left: 16px;
	margin-left: .3em;
	width: 16px;
	height: 16px;
}
label.valid {
	background: url('../images/checked.gif') no-repeat;
	padding-left: 16px;
	margin-left: .3em;
	width: 16px;
	height: 16px;
}