
 .txtbx {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-color: #DDDDDD;
	line-height: normal;
}
    body,td,th {
	color: #003;
}
body {
	background-image:url("bl.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin:auto;
		
	text-align: left;
}
    #id1 {
	font-weight: bold;
	color: #009;
}
    .heading {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 36pt;
	color: #003;
}
    #submit {
	width:20%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: bold;
	background-color: #003;
	color: #FFF;
}
    #searchbox {
	padding: 5px;
	width:70%;
	box-shadow:0px 0px 20px 1px Black;
	border-radius: 7px;
	position:relative;
	margin:auto;	
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #FFFFFF;
}
    txtbx {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	background-color: #D6D6D6;
}