<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<script src="../js/jquery-1-9-1.min.js"></script>
	<script src="../js/jquery-validate.js"></script>
	<script src="../js/additional-methods.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
	<div class="header_div">
		<div class="title_div">
			<h1 align="center" class="title1">LOST and FOUND portal</h1>
		</div>
		<div class="nav_menu">
			<section class="welcome">Welcome, <p id="get_name" style="display:inline">test name</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</section>
			<p align=right>
				<a href="myprofile.html" target="_self"><button class="menu_button">My Profile </button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="index.html" target="_self"><button class="menu_button">Logout</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>
		</div>
	</div>

	<div class="main_div">

		<p  align=center id="message">test message</p>

		<br><br><br><br><br>

		<table width=100%>
			<tr align=center>
				<td><a href="mylost.html" target="_self"><button class="home_button">My Lost Items...</button> </a></td>
				<td><a href="lostform.html" target="_self"><button class="home_button">I have LOST Something...</button> </a></td>
				<td><a href="browseall.html" target="_self"><button class="home_button">BROWSE ALL LOST...</button> </a></td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr align=center>
				<td><a href="myfound.html" target="_self"><button class="home_button">My Found Items...</button> </a></td>
				<td><a href="foundform.html" target="_self"><button class="home_button">I have FOUND Something...</button> </a></td>
				<td><a href="browseall.html" target="_self"><button class="home_button">BROWSE ALL FOUND...</button> </a></td>
			</tr>

		</table>
			
			<br>
			<br>
	
	</div>
	
	<div class="footer_div">
		<center>Created and maintained by : Rahul Mittal, Kaushal Yagnik, Deepak Chawla, Gaurav Mittal, Riya Garg </center>
	</div>

</body>

</html>
