<html>
<head>
	<title>User Registration</title>
	<meta charset="utf-8">
	<script src="../js/jquery-1-9-1.min.js"></script>
	<script src="../js/jquery-validate.js"></script>
	<script src="../js/additional-methods.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/form.css">
</head>

<body>
	<div class="header_div">
		<div class="title_div">
			<h1 align="center" class="title1">LOST and FOUND portal</h1>
			<h2 align="center" class="title">Welcome to registration</h2>
		</div>
	</div>

	<div class="main_div">

		<p id="message"></p>

		<div class="form_div">
			<form id="register_form" action="index.html" method="POST">
			<table width=50% align=center>

				<tr>
					<td width=20% align=right>Email ID :</td>
					<td> <p id="get_email"></p> </td>
				</tr>
				<tr>
					<td width=20% align=right><label for="username">Name :</label>  </td>
					<td><input class="txtbx" type="text" id="username" name="username" maxlength="128"></td>
				</tr>
				<tr>
					<td width=20% align=right><label for="address">Address :</label> </td>
					<td> <input class="txtbx" type="text" id="address"  name="address" maxlength="256"> </td>
				</tr>

				<tr>
					<td width=20% align=right><label for="pword">Password :</label></td>
					<td> <input class="txtbx" type="password" id="pword"  name="pword" maxlength="16"> </td>
				</tr>

				<tr>
					<td width=20% align=right><label for="confpword">Confirm Password :</label> </td>
					<td> <input class="txtbx" type="password" id="confpword"  name="confpword" maxlength="16"> </td>
				</tr>

				<tr>
					<td width=20% align=right></td>
					<td> <input type="submit" name="submit" class="submit" value="Register"></td>
				</tr>

			</table>

			</form>
			<p align=center>All the fields in this form are mandatory  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

			<script>				//Don't be oversmart and cut-paste this to the head section!
				jQuery.validator.setDefaults({
				  success: "valid"
				});

				$( "#register_form" ).validate({
					rules: {
						username:{required:true},
						pword: {required:true, minlength:5},
						confpword: {required:true, minlength:5, equalTo: "#pword"},
						address: {required: true}
					},
					messages: {
						username: "Please enter your name",
						address: "Please enter your address",
						pword: "Password should contain 5-16 characters",
						confpword: "Passwords do not match"
				        }
				});
			</script>

		</div>
	</div>
	
	<div class="footer_div">
		<center>Created and maintained by : Rahul Mittal, Kaushal Yagnik, Deepak Chawla, Gaurav Mittal, Riya Garg </center>
	</div>


</body>

</html>
